In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO   
from sklearn.tree import export_graphviz
import pydotplus
import random

In [2]:
df = pd.DataFrame(columns=["IQ", "study_hour", "class_attent", "homework", "gender","pass"])
df['IQ']=[None]*1000
df.iloc[1,0]=10
df

       IQ studt_hour class_attent homework gender  pass
0    None        NaN          NaN      NaN    NaN   NaN
1      10        NaN          NaN      NaN    NaN   NaN
2    None        NaN          NaN      NaN    NaN   NaN
3    None        NaN          NaN      NaN    NaN   NaN
4    None        NaN          NaN      NaN    NaN   NaN
5    None        NaN          NaN      NaN    NaN   NaN
6    None        NaN          NaN      NaN    NaN   NaN
7    None        NaN          NaN      NaN    NaN   NaN
8    None        NaN          NaN      NaN    NaN   NaN
9    None        NaN          NaN      NaN    NaN   NaN
10   None        NaN          NaN      NaN    NaN   NaN
11   None        NaN          NaN      NaN    NaN   NaN
12   None        NaN          NaN      NaN    NaN   NaN
13   None        NaN          NaN      NaN    NaN   NaN
14   None        NaN          NaN      NaN    NaN   NaN
15   None        NaN          NaN      NaN    NaN   NaN
16   None        NaN          NaN      NaN    NaN   NaN
17   None        NaN          NaN      NaN    NaN   NaN
18   None        NaN          NaN      NaN    NaN   NaN
19   None        NaN          NaN      NaN    NaN   NaN
20   None        NaN          NaN      NaN    NaN   NaN
21   None        NaN          NaN      NaN    NaN   NaN
22   None        NaN          NaN      NaN    NaN   NaN
23   None        NaN          NaN      NaN    NaN   NaN
24   None        NaN          NaN      NaN    NaN   NaN
25   None        NaN          NaN      NaN    NaN   NaN
26   None        NaN          NaN      NaN    NaN   NaN
27   None        NaN          NaN      NaN    NaN   NaN
28   None        NaN          NaN      NaN    NaN   NaN
29   None        NaN          NaN      NaN    NaN   NaN
..    ...        ...          ...      ...    ...   ...
970  None       None         None     None   None  None
971  None       None         None     None   None  None
972  None       None         None     None   None  None
973  None       None         None     None   None  None
974  None       None         None     None   None  None
975  None       None         None     None   None  None
976  None       None         None     None   None  None
977  None       None         None     None   None  None
978  None       None         None     None   None  None
979  None       None         None     None   None  None
980  None       None         None     None   None  None
981  None       None         None     None   None  None
982  None       None         None     None   None  None
983  None       None         None     None   None  None
984  None       None         None     None   None  None
985  None       None         None     None   None  None
986  None       None         None     None   None  None
987  None       None         None     None   None  None
988  None       None         None     None   None  None
989  None       None         None     None   None  None
990  None       None         None     None   None  None
991  None       None         None     None   None  None
992  None       None         None     None   None  None
993  None       None         None     None   None  None
994  None       None         None     None   None  None
995  None       None         None     None   None  None
996  None       None         None     None   None  None
997  None       None         None     None   None  None
998  None       None         None     None   None  None
999  None       None         None     None   None  None

[1000 rows x 6 columns]

In [3]:
i = 0 
while i<1000:
    df.iloc[i,0]=random.randint(80,180)
    df.iloc[i,1]=random.randint(0,8)
    df.iloc[i,2]=random.randint(0,18)
    df.iloc[i,3]=random.randint(0,100)
    df.iloc[i,4]=random.randint(0,1)
    if df.iloc[i,4]==0:  ##gender is girl
        df.iloc[i,5]=1  #pas
    else:
        if df.iloc[i,0]>150:
            if df.iloc[i,2]>3:
                df.iloc[i,5]=1
            else:
                df.iloc[i,5]=0
        elif df.iloc[i,0]<100:
            df.iloc[i,5]=0
        else:
            if  df.iloc[i,1]>4:#study_hour more than 4h/week
                df.iloc[i,5]=1
            else:
                if df.iloc[i,3]>60:
                    df.iloc[i,5]=1
                else:
                    df.iloc[i,5]=0
                
                
    i=i+1

In [4]:
df
df.to_excel('E:/Anaconda/file/tree1.xls')

In [5]:
df_train = df[:700]
df_train.head()

    IQ  studt_hour  class_attent  homework  gender  pass
0  135           3             3         4       1     0
1   85           1            10        99       1     0
2  101           0             5        39       1     0
3   82           3            17        74       0     1
4  115           8            14        49       1     1

In [6]:
df_test = df[700:]
df_test.head()

      IQ  studt_hour  class_attent  homework  gender  pass
700  134           6            12        93       0     1
701   88           2            13        92       0     1
702  151           6             6        45       0     1
703   97           4            15        75       1     0
704  173           7             8        64       1     1

In [7]:
y = df_train['pass'].values
y

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1], dtype=int64)

In [8]:
df_train = df_train.drop('pass', 1)

In [9]:
dtree=DecisionTreeClassifier(max_depth=4)
dtree.fit(df_train,y)

dot_data = StringIO()
export_graphviz(dtree, 
                out_file=dot_data,  
                filled=True, 
                feature_names=list(df_train),
                class_names=['fail','pass'],
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("E:/Anaconda/file/tree1.pdf")

True

In [10]:
y_test = df_test['pass'].values
X_test = df_test.drop('pass', 1)

y_predict = dtree.predict(X_test)

y_predict

array([1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.9666666666666667